{
  "customSyntax": "postcss",
  "extends": ["stylelint-config-recommended"],
  "overrides": [
    {
      "files": ["**/*.js", "**/*.ts", "**/*.tsx", "**/*.snap"],
      "customSyntax": "postcss-jsx"
    }
  ],
  "rules": {
    "no-empty-source": null,
    "block-no-empty": null,
    "color-no-invalid-hex": true,
    "property-no-unknown": [
      true,
      {
        "ignoreProperties": ["/^shadow-/", "/^margin-/", "/^padding-/"]
      }
    ],
    "comment-empty-line-before": [
      "always",
      {
        "ignore": ["stylelint-commands", "after-comment"]
      }
    ],
    "rule-empty-line-before": [
      "always",
      {
        "except": ["first-nested"],
        "ignore": ["after-comment"]
      }
    ]
  }
}
